<!doctype html>
<title>{% block title %}{% endblock %} - Przetwarzanie danych w chmurach obliczeniowych</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<nav>
  <h1>The Great Actors Database</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>