<!doctype html>
<title>{% block title %}{% endblock %} - Przetwarzanie danych w chmurach obliczeniowych</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<button  style="cursor:pointer; color: white; font-weight: bold; margin: 20px; padding: 20px; width: 200px; alignment: left;
         background-color: rgba(255, 0, 0, 0.5); border-radius: 20px"
     onclick="window.location.href='{{ url_for("auth.logout") }}';">LOGOUT</button>


<nav>
  <h1>The Great Actors Database</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>